
<% unless comment.archived? %>
    <p>
        <strong><%= t('commenterLabel') %></strong>
        <%= comment.commenter %>
    </p>

    <p>
        <strong><%= t('commentLabel') %></strong>
        <%= comment.body %>
    </p>
    <img src="<%= comment.image_link %>" alt=<%= t('noImageFound') %>>
    <p>
        <%= link_to t('deleteComment'), [comment.article, comment], data: {
            turbo_method: :delete,
            turbo_confirm: t('youSure')}%>
    </p>

<% end %>
