<%= form_with model: [ @article, @article.comments.build ] do |form| %>
<p>
    <%= form.label "Name" %><br>
    <%= form.text_field :commenter %>
</p>
<p>
    <%= form.label "Comment" %><br>
    <%= form.text_area :body, size: "40x7" %>
</p>
<p>
    <%= form.label :image_link %><br>
    <%= form.text_field :image_link %>
</p>
<p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public_article', 'private_article', 'archived_article'], selected: 'public_article' %>
</p>
<p>
    <%= form.submit class:"submit" %>
</p>
<% end %>
