<footer>
  <span class='footerCopyright'>
    <i><a href="<%= root_path %>" id="footer_link">Postblog Inc.</a> <%= t('reserved') %></i>
  </span>

  <span class='footerDivider'></span>

  <span class='footerLanguage'>
    <%= t('languageDisplay') %>
    <%= link_to t('selectJapanese'), root_path(locale: :ja) %> 
    <%= link_to t('selectEnglish'), root_path(locale: :en) %>
  </span>
</footer>
