<% content_for :title do %>
<% if @articles.public_count == @all_articles.public_count %>
    <%= t('welcome')%>
  <% else %>
    <%=t('searchResults') %> - Postblog
  <% end %>
<% end %>

<h1><%=t('indexHeader') %></h1>
<%= render "search" %>
<%= render "sort" %>

<!-- è¨˜äº‹ã®æ•° -->
<div class='entry_count' >
  <%= page_entries_info @articles, entry_name: t('article')  %>
</div>

<% if @articles.public_count == 0 %>
  <img src="../assets/no_results_found.png" style="all: revert; margin-top: -54px; width: 500px;">
<% end %>


<!-- è¨˜äº‹ä¸€è¦§ -->
<div class="grid">
  <% @articles.each do |article|  %>
    <% unless article.archived? %>
      <%= link_to article, class:"article_thumbnail" do %>
        <%= image_tag article.image_link, class:"thumbnail_image", alt:t('noImageFound')%>
        <div class="thumbnail_text">
          <!-- â†“â†“è¨˜äº‹ã®è¨€èªžã‚’è¡¨ç¤ºã™ã‚‹â†“â†“ -->
          <% if article.language=="English" %>
            ðŸ‡¬ðŸ‡§
          <% elsif article.language=="Japanese" %>
            ðŸ‡¯ðŸ‡µ
          <% end %>
          <%= article.title%>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= paginate @articles %>

<%= link_to t('createArticle'), new_article_path, class: "new_article"  %>

<%= render "footer" %>
