<h1>Postblog Articles</h1>

<p>Our blog has <%= Article.public_count %> articles and counting! </p>

<div class="grid">
  <% @articles.each do |article|  %>
    <% unless article.archived? %>
      <%= link_to article, class:"article_thumbnail" do %>
        <%= image_tag article.image_link, class:"thumbnail_image", alt:"image not found"%>
        <div class="thumbnail_text"><%= article.title%></div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "Create a New Article", new_article_path, class: "new_article"  %>

<%= render "footer" %>
